.floating-menu {
    font-family: sans-serif;
    background: darkgray;
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a,
  .floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
  }

@media screen and (max-width: 768px) {
  .floating-menu {
    display: none;
    visibility:hidden;
  }
}

body {
  width: auto;
  padding-left: 10px;
  padding-top: 30px;
  margin: auto;
}
p {
  font-size: 9pt;
  background: #ffffff;
}
.box {

}
#boxtitle {
  align: center;
}
#maintable {
  width: 100%;
  padding-right: 10px;
}


@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background: #efefef;
  }
  .box {
    position: relative;
    padding: 50px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 40px auto;
    width: 500px;
    /* height: 350px; */
    background: #fff;
    border-radius: 2px;
  }
  .box::before,
  .box::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0,0,0,.7);
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  .box::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }

  .box::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }

  .box:hover::before,
  .box:hover::after {
    box-shadow: 0 2px 14px rgba(0,0,0,.4);
  }

  .box:hover::before {
    left: 5px;
  }

  .box:hover::after {
    right: 5px;
  }
}
